.header {
  width: 100%;
  height: var(--nav-height);
  isolation: isolate;
  position: fixed;
  top: 0;
  isolation: isolate;
  z-index: 10;
  border-bottom: var(--border);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  &::before {
    display: block;
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--bg);
    opacity: 0.7;
    z-index: -1;
    transition: background-color var(--transition);
  }

  .nav {
    width: 100%;
    height: 100%;
    max-width: var(--main-content-width);
    padding: 0 var(--gutter-md);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gutter-lg);
    position: relative;
    .links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: var(--gutter-lg);
      .link {
        border: none;
        color: var(--heading-fg);
        font-weight: 600;
      }
    }
  }
  .toggle {
    display: none;
    color: var(--light);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@media screen and (max-width: 668px) {
  .header {
    transition: height var(--transition-slow);
    .nav {
      .links {
        opacity: 0;
        transition: none;
      }
      .toggle {
        display: block;
        position: absolute;
        top: var(--gutter);
        right: var(--gutter-md);
      }
    }
    &.active {
      height: 100svh;
      height: 100vh;
      .nav {
        opacity: 1;
        justify-content: flex-start;
        .links {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          opacity: 1;
          transition: opacity var(--transition-slower);
          transition-delay: 0.3s;
        }
      }
    }
  }
}
