---
import Layout from "@/layouts/Layout/index.astro";
import styles from "@/styles/about.module.scss";
---

<Layout title="About">
  <article class={styles.article}>
    <h1>About Coach Pete</h1>
    <p>This is the about page</p>
  </article>
</Layout>
